<!-- Apresentação -->
<div id="apresentacao" class="modal fade padding-bottom-50">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="js-title-step"></h4>
            </div>
            <div class="modal-body">
                <div class="row hide" data-step="1" data-title="Cadastra-se no melhor site de promoção comercial.">
                    <div class="col-md-12">
                        <p>O primeiro passo para participar do leilão é escolher a cidade.</p>
                        <p>Após escolher a cidade, no lado direito superior no botão <strong>"CLIQUE AQUI E FAÇA O SEU CADASTRO"</strong> Faça o seu cadastro preenchendo todos os campos obrigatório.</p>
                        <p>Leia atentamente o termos e condições gerais para utilização do site.</p>
                        <p>Após confirmar o cadastro, o site irá enviar para o seu e-mail cadastrado um link de confirmação. Você terá que abrir esse e-mail e clickar no link indicado pelo e-mail para que o seu cadastro seja confirmado. Caso o e-mail não esteja na sua caixa de entrada, verifique na sua caixa de lixo.</p>
                        
                        <p><strong>Em menos de 1 minuto você entra no melhor site de promoção Comercial!</strong></p>
                    </div>
                </div>
                <div class="row hide" data-step="2" data-title="Como conseguir lances">
                    <div class="col-md-6">
                        <h4>Comprando nas empresas participantes</h4>
                        <p>Comprando nas empresas participantes você recebe um cupom. Cada cupom cadastrado no site irá creditar 5 lances no saldo de sua conta. Basta raspar a raspadinha no verso do cupom e validar o número.</p>
                        <img src="/images/cupom.jpg" width="100%">
                    </div>
                    <div class="col-md-6">
                        <h4>Publiclick</h4>
                        <p>No Publiclick, você ganha gratuitamente 5 lances por dia para clicar e visitar o hotsite das empresas parceiras do Leilão de Prêmios.</p>
                        <img src="/images/publiclick.jpg" width="100%" class="padding-top-50">
                    </div>
                </div>
                <div class="row hide" data-step="3" data-title="Como ativar sua participação nos Leilões">
                    <div class="col-md-12">
                        <center><img width="80%" src="/images/ativar_participacao.jpg"></center>
                        <p><strong>1</strong> Escolha o leilão que gostaria de disputar.</p>
                        <p><strong>2</strong> Clique na opção "DAR LANCE" dentro do banner do leilão que você escolheu.</p>
                        <p><strong>3</strong> Irá aparecer nesse momento uma frase dizendo "<strong>CONFIRME AQUI SUA PARTICIPAÇÃO</strong>", clique em cima dessa opção.</p>
                    </div>
                </div>
                <div class="row hide" data-step="4" data-title="Confirme sua participação antes do horário de início do leilão escolhido.">
                    <div class="col-md-12">
                    <p>É extremamente importante nesse momento você ler na parte inferior da página, a descrição completa do produto ou serviço, 
                    para estar ciente de todas as características técnicas, requisitos e informações adicionais para que você possa arrematá-lo. Se estiver de acordo, clique novamente na opção "<strong>CONFIRME AQUI SUA PARTICIPAÇÃO</strong>".</p>
                        <img src="/images/confirme-aqui.jpg" width="100%">
                     <p>Pronto, agora é só esperar a data e horário marcado para o leilão e dar seus lances.</p>
                    </div>
                    <!-- <div class="col-md-12">
                        <img src="images/como-funciona-o-leilao.jpg" width="100%">
                    </div> -->
                </div>
                <div class="row hide" data-step="5" data-title="Como funciona o Leilão">
                    <div class="col-md-12">
                     <img src="/images/como-funciona-o-leilao.jpg" width="100%">
                     <p>Em cada leilão escolhido você poderá dar no <strong>máximo 5 lances</strong> na opção "DAR LANCE".</p>
                     <p>Quando você ativa sua participação em um leilão, será transferido 5 lances do seu saldo para o leilão escolhido.</p>
                     <p>Na data e horário informado no banner o leilão começa e um cronômetro é disparado em contagem regressiva iniciando em 20 segundos.</p>
                     <p>Quando um usuário clicar na opção "DAR LANCE" o cronômetro recomeça nos 20 segundos e o apelido do usuário, cadastrado no site, irá aparecer na parte de baixo do banner.</p>
                     <p><strong>O Leilão irá terminar quando o cronômetro chegar a zero</strong> e isso só acontece quando não houver mais nenhum lance nesse produto.</p>
                    </div>
                </div>
                
                <div class="row hide" data-step="6" data-title="Dicas do Leilão de Prêmios">
                    <div class="col-md-12">
                     <p class="text-center"><strong>Não deixe para dar lance nos segundos finais</strong></p>
                     <p>Imagine que ao dar seu lance, ele percorrerá um longo caminho pela internet até chegar em nossos servidores. Nesse trajeto pode haver qualquer atraso, comum à internet, fazendo com que seu lance não seja computado. Caso adote a estratégia de dar os lances somente no final, o faça antes dos 3 segundos. Lembre-se que o cronômetro sempre regressa ao seu valor inicial, sendo o lance dado no começo ou no fim.</p>
                     <p class="text-center"><strong>Não desperdice sua conexão de internet ou seu
                        computador com outras atividades</strong></p>
                     <p>Quando estiver participando ou acompanhando algum leilão, feche todos os outros programas, como messengers, players, jogos, compartilhadores, etc. Deixe somente uma aba aberta no seu navegador. Utilize sempre uma versão atualizada de seu navegador. O Leilão de Prêmios recomenda as últimas versões do Google Chrome e do Mozilla Firefox.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default js-btn-step pull-left" data-orientation="cancel" data-dismiss="modal"></button>
                <button type="button" class="btn btn-warning js-btn-step" data-orientation="previous"></button>
                <button type="button" class="btn btn-success js-btn-step" data-orientation="next"></button>
            </div>
        </div>
    </div>
</div>
<!-- Apresentação -->


    <!-- footer -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="text-headline text-light">Institucional</h4>
                    <ul class="list-unstyled">
                        <li><a data-toggle="modal" data-target="#apresentacao" href="#">Apresentação</a></li>
                        <li><a href="nossos-filmes.php">Nossos Vídeos</a></li>
                        <li><a href="parceiros.php">Parceiros</a></li>
                        <li><a href="privacidade.php">Privacidade</a></li>
                        <li><a href="condicoes-de-uso.php">Condições de uso</a></li>
                        <li><a href="clubeuol.php">Clube UOL</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-headline text-light">Atendimento</h4>
                    <ul class="list-unstyled">
                        <li><a href="fale-conosco.php">Fale conosco</a></li>
                        <li><a href="#">Ajuda | FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 class="text-headline text-light">Somos sociais ;)</h4>
                    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fleilaodepremios&amp;width=300&amp;height=200&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:200px;" allowTransparency="true">
                    </iframe>
                    <p>
                        <a onclick="window.open('https://www.facebook.com/leilaodepremios');" class="btn btn-indigo-500 btn-circle"><i class="fa fa-facebook"></i></a>
                        <a onclick="window.open('https://twitter.com/leilaodepremios');" class="btn btn-blue-500 btn-circle"><i class="fa fa-twitter"></i></a>
                        <a onclick="window.open('https://plus.google.com/+LeilaodepremiosBr/posts');" class="btn btn-danger btn-circle"><i class="fa fa-google-plus"></i></a>
                        <a onclick="window.open('https://www.linkedin.com/company/9349106');" class="btn btn-indigo-700 btn-circle"><i class="fa fa-linkedin"></i></a>
                        <a onclick="window.open('https://www.youtube.com/channel/UC38bYLo-zfywxxlVAtqlv8A');" class="btn btn-red-500 btn-circle"><i class="fa fa-youtube"></i></a>
                    </p>
                    
                </div>
            </div>
            <p class="text-subhead text-center">
                        <br/>
            &copy; 2015 Leilão de Prêmios - Todos os Direitos Reservados
            </p>
        </div>
    </section>
    <!-- end footer -->

    <script src="{{ "/js/vendor-core.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/vendor-countdown.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/vendor-tables.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/vendor-forms.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/vendor-carousel-slick.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/vendor-player.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/vendor-charts-flot.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/vendor-nestable.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/module-essentials.min.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/module-material.min.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/module-layout.min.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/module-sidebar.min.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/module-carousel-slick.min.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/module-player.min.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/module-messages.min.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/module-maps-google.min.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/module-charts-flot.min.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/theme-core.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/plugins.js" | prepend: site.baseurl  }}"></script>
    <script src="{{ "/js/jquery-bootstrap-modal-steps.min.js" | prepend: site.baseurl  }}"></script>
    
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
$(document).ready(function() {
$('#apresentacao').modalSteps();
var largura = $(window).width();  
if (largura >= 800) {
    window.$zopim||(function(d,s){var z=$zopim=function(c){
    z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//v2.zopim.com/?3IDzxWlSULvcFaENdAzwb8DIF81hFSTP';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
} }); 
</script>
<!--End of Zopim Live Chat Script-->
<script type="text/javascript"> 
    $(document).ready(function() {
    var largura = $(window).width();  
    if (largura <= 800) { /* Se a Largura do monitor for menor ou = que 800 px */ 
        $("#selectCidadeMobile").show();
        $("#title-top").hide();
        $("#selectCidade").hide();
    } else if (largura >= 800) {
        $("#selectCidade").show();
        $("#selectCidadeMobile").hide();
    } }); 
</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-46527401-1', 'leilaodepremios.com.br');
ga('send', 'pageview');
</script>

</body>
</html>