<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<link href="{{ "/css/global.css" | prepend: site.baseurl }}" rel="stylesheet">
 <!-- <link href="{{ "/css/vendor.css" | prepend: site.baseurl }}" rel="stylesheet">
 <link href="{{ "/css/theme-core.css" | prepend: site.baseurl }}" rel="stylesheet">
 <link href="{{ "/css/module-essentials.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-material.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-layout.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-navbar.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-messages.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-carousel-slick.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-charts.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-maps.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-colors-alerts.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-colors-background.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-colors-buttons.css" | prepend: site.baseurl }}" rel="stylesheet" />
 <link href="{{ "/css/module-colors-text.css" | prepend: site.baseurl }}" rel="stylesheet" /> -->
 <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" | prepend: site.baseurl }}">
 <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
 <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
